@page

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <textarea class="form-control" id="messageInput" placeholder="Mesajınızı Yazınız..."></textarea>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <select class="form-control" id="userInput">
            <option value="">Seçiniz...</option>
            <option value="a69b99f0-e5eb-4179-8bf0-edddce06aada">kullanici1@a.com</option>
            <option value="688f58c5-85ba-4b32-bed5-a47823fbdffc">kullanici2@a.com</option>
            <option value="ac2bd744-4ed5-4c11-bf89-6b3b3b691c99">kullanici3@a.com</option>
        </select>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Gönder" />
        </div>
    </div>
</div>
<script src="~/js/sendmessage.js"></script>
